scripts=["
ensure nodes (sling:OrderedFolder) /content/telegram/chats/fetchspace
ensure nodes (sling:OrderedFolder) /content/fetchspace/www with properties
    set	sling:resourceType to fetchspace/application/index
end
ensure nodes (sling:OrderedFolder) /content/fetchspace/www/terms with properties
    set	sling:resourceType to fetchspace/application/terms
end
ensure nodes (sling:OrderedFolder) /content/fetchspace/www/privacy with properties
    set	sling:resourceType to fetchspace/application/privacy
end

set ACL for anonymous
    remove * on /content/telegram/chats/fetchspace
    remove * on /content/fetchspace/www
    allow jcr:read on /content/telegram/chats/fetchspace restriction(rep:ntNames,rocket:AssetReal,rocket:AssetLink,rocket:AssetMetadata,nt:file,nt:resource)
    allow jcr:read on /content/fetchspace/www
end
"]
